@font-face {
    font-family: Oswald-Regular;
    src: url(../fonts/oswald/Oswald-Regular.ttf)
}

@font-face {
    font-family: Oswald-Medium;
    src: url(../fonts/oswald/Oswald-Medium.ttf)
}

@font-face {
    font-family: ArialRegular;
    src: url(../fonts/arial/ArialRegular/ArialRegular.ttf)
}

