.how-it-works {
  width: 100%;
}
.how-it-works__wrapper {
  width: 280px;
}
.how-it-works__item-wrapper {
  display: flex;
}
.how-it-works__item-img-bg {
  position: relative;
  background-color: $green-color;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.how-it-works__img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.how-it-works__h1 {
  @include font(36px, 60px);
  @include oswald();
}
.how-it-works__item-text {
  @include font(14px, 18px);
  @include arial();
}
.how-it-works__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  li {
    margin-bottom: 20px;
  }
}
