.living-example {
    width: 100%;
    background-color: $grey-color;
}
.living-example__text-wrapper {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.living-example__weight-days {
    display: flex;
}
.living-example__weight-days__item {
    width: 125px;
    height: 75px;
}
.living-example__money-food {
    display: flex;
    width: 195px;
    text-transform: uppercase;
}
.living-example__slider {
    position: relative;
}
.living-example__slider-1 {
    position: relative;
}
.living-example__slider-2 {
    position: absolute;
    left: 63px;
}
.living-example__slider-1__desktop {
    display: none;
}
.living-example__slider-2__desktop {
    display: none;
}
.living-example__h1 {
    @include font(36px, 60px);
    @include oswald();
}
.living-example__text {
    @include font(14px, 18px);
    @include arial();
}
.living-example__weight-days__text {
    @include font(24px, 24px);
    @include oswald();
}
.living-example__weight-days__item {
    p {
        @include font(12px, 12px);
        @include arial();
    }
}
.living-example__money-food__item {
    @include font(14px, 20px);
    @include oswald();
}
.living-example__slider-wrapper {
    span {
        @include font(16px, 20px);
        @include oswald();
    }
}
@media (min-width: $tablet-width) { 
    .living-example {
        margin-top: 40px;
        background-color: transparent;
    }
    .living-example__slider-1 {
        display: none;
    }
    .living-example__slider-2 {
        display: none;
    }
    .living-example__slider-1__desktop {
        position: relative;
        display: block;
    }
    .living-example__slider-2__desktop {
        position: absolute;
        top: 10px;
        right: 60px;
        display: block;
    }
    .input-range__wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .input-range {
        margin: 0 auto;
        width: 580px;
    }
}