@mixin font($size, $line) {
    font-size: $size;
    line-height: $line;
}
@mixin oswald () {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}
@mixin oswald-medium () {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
@mixin arial() {
    font-family: Arial, "Regular", sans-serif;
    font-weight: 400;
}
  