body {
    width: 320px;
    margin: 0 auto;
    padding: 0;
}
@media (min-width: $tablet-width) { 
    body {
        width: 100%;
        max-width: 708px;
        margin: 0 auto;
        padding: 0;
    }
}