.weight-control {
  width: 90%;
  margin-top: 200px;
  picture {
    position: absolute;
    bottom: 5px;
    right: 12px;
  }
}
.weight-control__wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.weight-control__lose-weight,
.weight-control__gain-weight {
  @include font(24px, 37px);
  @include oswald;
}
.weight-control__lose-weight-text,
.weight-control__gain-weight-text{
  @include font(14px, 18px);
  @include arial();
  color: #444444;
}
.weight-control__gain-lose {
  background-color: $grey-color;
  padding: 20px;
  margin-bottom: 20px;
}
.weight-control__lose-image-background {
  position: relative;
  background-color: $green-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  picture {
    position: absolute;
    bottom: 5px;
    right: 12px;
  }
}
.weight-control__lose-image {
  position: absolute;
  left: 10px;
  bottom: 3px;
}
.weight-control__gain-image-background {
  position: relative;
  background-color: $green-color;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  picture {
    position: absolute;
    bottom: 5px;
    right: -10px;
  }
}
.weight-control__gain-image {
  position: absolute;
  left: -7px;
  bottom: 10px;
}
.catalog-toggle {
  @include font(16px, 16px);
  @include oswald;
  img {
    margin-left: 10px;
  }
}

@media (min-width: $tablet-width) {
  .weight-control__wrapper {
    width: 90%;
  }
  .weight-control__gain-lose {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .weight-control__gain-image__tablet {
    display: block;
    position: absolute;
    top: 40px;
    right: -30px;
  }
  .weight-control__lose-image__tablet {
    display: block;
    position: absolute;
    left: 35px;
    bottom: 15px;
  }
  .weight-control__lose-image-background {
    position: relative;
    width:200px;
    height: 200px;
    picture {
      position: absolute;
      bottom: 10px;
      left: 35px;
    }
  }
  .weight-control__gain-image-background {
    position: relative;
    width:200px;
    height: 200px;
    picture {
      position: absolute;
      bottom: 30px;
      left: -40px;
    }
  }
  .weight-control__lose-weight,
  .weight-control__gain-weight {
    @include font(36px, 37px);
    @include oswald;
  }
  .weight-control__lose-weight-text,
  .weight-control__gain-weight-text{
    @include font(16px, 24px);
    @include arial();
  }
  .catalog-toggle {
    @include font(20px, 20px);
    @include oswald;
    img {
      margin-left: 15px;
    }
  }
}
@media (min-width: $desktop-width) {
  .weight-control {
    width: 90%;
  }
  .weight-control__lose-image-background {
    position: relative;
    width:100px;
    height: 100px;
    picture {
      position: absolute;
      bottom: 5px;
      left: 10px;
    }
  }
  .weight-control__gain-image-background {
    position: relative;
    width: 100px;
    height: 100px;
    picture {
      position: absolute;
      bottom: 20px;
      left: -18px;
    }
  }
}